host-suffix, app-site-association.cdn-apple.com, apple
host-suffix, configuration.apple.com.akadns.net, apple
host-suffix, download.developer.apple.com, apple
host-suffix, images.apple.com.edgekey.net.globalredir.akadns.net, apple
host-suffix, iosapps.itunes.g.aaplimg.com, apple
host-suffix, ocsp-lb.apple.com.akadns.net, apple
host-suffix, osxapps.itunes.g.aaplimg.com, apple
host-suffix, prod-support.apple-support.akadns.net, apple
host-suffix, sh-pod2-smp-device.apple.com, apple
host-suffix, smp-device-content.apple.com, apple
host-suffix, stocks-sparkline-lb.apple.com.akadns.net, apple
host-suffix, store.apple.com.edgekey.net.globalredir.akadns.net, apple
host-suffix, swcatalog-cdn.apple.com.akadns.net, apple
host-suffix, tj-pod1-smp-device.apple.com, apple
host-suffix, updates-http.cdn-apple.com.akadns.net, apple
host-suffix, weather-data.apple.com.akadns.net, apple
