ip-asn, 45102, direct
ip-asn, 63855, direct
ip-asn, 56045, direct
ip-asn, 138152, direct
ip-asn, 131516, direct
ip-asn, 56046, direct
ip-asn, 4134, direct
ip-asn, 151295, direct
ip-asn, 4538, direct
ip-asn, 4611, direct
ip-asn, 4789, direct
ip-asn, 4808, direct
ip-asn, 4809, direct
ip-asn, 4811, direct
ip-asn, 4812, direct
ip-asn, 4813, direct
ip-asn, 4816, direct
ip-asn, 4835, direct
ip-asn, 4837, direct
ip-asn, 4842, direct
ip-asn, 4847, direct
ip-asn, 4859, direct
