HOST-SUFFIX,classix-unlimited.co.uk,DIRECT


HOST-SUFFIX,idp.devicelink.infra-host.com,DIRECT

HOST-SUFFIX,media.paperclipclub.net,DIRECT
HOST-SUFFIX,morganstanleyhuaxin.com,DIRECT
HOST-SUFFIX,sonyentertainmentnetwork.com,DIRECT
HOST-SUFFIX,tanxlog.istreamsche.com,DIRECT

HOST-SUFFIX,uat1.bfsspadserver.8le8le.com,DIRECT
HOST-SUFFIX,xn--fiq53l6wcx3kp9bc7joo6apn8a.xn--fiqs8s,DIRECT
HOST-SUFFIX,xn--kprv4ewxfr9cpxcc7joo6apn8a.xn--fiqs8s,DIRECT

# >>> HOST <<<
HOST,images-cn.ssl-images-amazon.com,DIRECT
HOST,steamcommunity-a.akamaihd.net,DIRECT
host-suffix,tmall.com,DIRECT
host-suffix,alicdn.com,DIRECT
host-suffix,alipay.com,DIRECT
host-suffix,aliyun,DIRECT
host-suffix,baidu,DIRECT
host-suffix,beplay,DIRECT
host-suffix,taobao,DIRECT
host-suffix,tencent,DIRECT
host-suffix,lanzou.com,DIRECT
host-suffix,bilibili.com,DIRECT

host-suffix,alibaba.com,DIRECT

