# Original: game.list
# Converted: 2026-04-17
host-suffix, capcom.com, game
host-suffix, playfabapi.com, game
host-suffix, cloudapp.azure.com, game
host-suffix, streetfighter.com, game
host-suffix, nintendo.com, game
host-suffix, nintendo.net, game
host-suffix, streetfighter.com, game
host, eaaccounts.akamaized.net, game
host-suffix, s3.us-west-2.amazonaws.com, game
host-suffix, just-dance.com, game
host-suffix, ubi.com, game
