ip-cidr, 109.239.140.0/24, proxy
ip-cidr, 5.28.192.0/18, proxy
ip-cidr,91.108.4.0/22,proxy
ip-cidr,91.108.8.0/22,proxy
ip-cidr,91.108.12.0/22,proxy
ip-cidr,91.108.16.0/22,proxy
ip-cidr,91.108.20.0/22,proxy
ip-cidr,91.108.56.0/22,proxy
ip-cidr,149.154.160.0/20,proxy
host-keyword,.app,proxy
host, infuse-sync.s3-accelerate.amazonaws.com, proxy
host, mozilla.cloudflare-dns.com, proxy
host-suffix, us-east-1.amazonaws.com, proxy
host-suffix, eu-west-1.amazonaws.com, proxy
host-suffix, advertisercommunity.com, proxy
host-suffix, dropboxusercontent.com, proxy
host-suffix, streaming.mediaservices.windows.net, proxy
host-suffix, upercell.helpshift.com, proxy
host-suffix, wikimediafoundation.org, proxy
host-suffix, az416426.vo.msecnd.net, proxy
host-suffix, az668014.vo.msecnd.net, proxy
host-suffix, clubhouse.pubnubapi.com, proxy
host-suffix, ocsp.int-x3.letsencrypt.org, proxy
host-suffix, payments-jp.amazon.com, proxy
