host, apple-relay.fastly-edge.com, register
ip-asn,8075, register
host-suffix, cloudflareinsights.com, register
host-suffix, spoprod-a.akamaihd.net, register
ip-cidr, 17.249.0.0/16, register
ip-cidr, 17.252.0.0/16, register
ip-cidr, 17.57.144.0/22, register
ip-cidr, 17.188.128.0/18, register
ip-cidr, 17.188.20.0/23, register
host-suffix, itunes-apple.com.akadns.net, register
host-suffix, apple.comscoreresearch.com, register
