# Original: register.txt
# Converted: 2026-04-09
host-keyword, google, register
host-suffix, ytimg.com, register
host-suffix, ggpht.cn, register
host-suffix, ggpht.com, register
host-suffix, youtu.be, register
host-keyword, youtube, register
host-suffix, blogspot.com, register
host-suffix, gmail.com, register
host-suffix, capcom.com, register
host-suffix, playfabapi.com, register
host-suffix, cloudapp.azure.com, register
host-suffix, streetfighter.com, register
host-suffix, nintendo.com, register
host-suffix, nintendo.net, register
host-keyword, facebook, register
host-suffix, fbcdn-a.akamaihd.net, register
host-suffix, fbcdn.com, register
host-keyword, instagram, register
host-suffix, fbcdn.net, register
host-suffix, chatgpt.com, register
host-suffix, oaiusercontent.com, register
host-suffix, oaistatic.com, register
host-suffix, openai.com, register
host-suffix, ai.com, register
host, chat.openai.com.cdn.cloudflare.net, register
host, openaicom-api-bdcpf8c6d2e9atf6.z01.azurefd.net, register
host, openaicomproductionae4b.blob.core.windows.net, register
host, production-openaicom-storage.azureedge.net, register
host, openaiapi-site.azureedge.net, register
host-suffix, ads-twitter.com, register
host-suffix, t.co, register
host-suffix, twimg.com, register
host-suffix, twitter.com, register
host-suffix, x.com, register
host-keyword, grok, register
host-suffix, perplexity.ai, register
host-suffix, x.ai, register
host-suffix, intercom.com, register
host-keyword, paypal, register
host-suffix, cerebras.ai, register
host-keyword, openai, register
host-keyword, chatgpt, register
host-suffix, auth0.com, register
host-suffix, challenges.cloudflare.com, register
host-suffix, client-api.arkoselabs.com, register
host-suffix, events.statsigapi.net, register
host-suffix, featuregates.org, register
host-suffix, identrust.com, register
host-suffix, intercom.io, register
host-suffix, intercomcdn.com, register
host-suffix, openaiapi-site.azureedge.net, register
host-suffix, sentry.io, register
host-keyword, claude, register
host-suffix, anthropic.com, register
host-suffix, claude.ai, register
host-suffix, usefathom.com, register
host-suffix, console.anthropic.com, register
host-suffix, recraft.ai, register
host-suffix, poe.com, register
host-suffix, lmsudio.ai, register
host-keyword, bing, register
host-keyword, copilot, register
host-keyword, edgeassetservice, register
host-suffix, bing.net, register
host-suffix, bingapis.com, register
host-suffix, azurewebsites.net, register
host-suffix, azureedge.net, register
host-suffix, www.bingapis.com, register
host-suffix, designerapp.officeapps.live.com, register
host-suffix, cdn.designerapp.osi.office.net, register
host-suffix, live.com, register
host-suffix, virtualearth.net, register
host-suffix, windows.net, register
host-suffix, onenote, register
host-suffix, hexun.com, register
host-suffix, dict.bing.com.cn, register
host-suffix, msn.com, register
host-suffix, variflight.com, register
host-suffix, msftoffers.com, register
host-suffix, chinacloudapp.cn, register
host-suffix, cbsnews.com, register
host-suffix, swx.cdn.skype.com, register
host-suffix, swc.cdn.skype.com, register
host-suffix, latest-swx.cdn.skype.com, register
host-suffix, a.config.skype.com, register
host-suffix, b.config.skype.com, register
host-suffix, microsofttranslator.com, register
host-suffix, facebook.net, register
host-suffix, uservoice.com, register
host-suffix, cdn.office.net, register
host-suffix, platform.twitter.com, register
host-suffix, cdn.syndication.twimg.com, register
host-suffix, spoprod-a.akamaihd.net, register
host-suffix, bingstatic.com, register
host-suffix, yahoo.co.jp, register
host-suffix, r.msftstatic.com, register
host-suffix, rafd.staging-bing-int.com, register
host-suffix, r.staging-bing-int.com, register
host-suffix, raka.staging-bing-int.com, register
host-suffix, rcf.staging-bing-int.com, register
host-suffix, xpaycdn-int.azureedge.net, register
host-suffix, xpaycdn.azureedge.net, register
host-suffix, ssl.kaptcha.com, register
host-suffix, tst.kaptcha.com, register
host-suffix, snrproxy.binginternal.com, register
host-suffix, snrproxyeast.binginternal.com, register
host-suffix, snrproxync.binginternal.com, register
host-suffix, snrproxysc.binginternal.com, register
host-suffix, snrproxywest.binginternal.com, register
host-suffix, cetonc.binginternal.com, register
host-suffix, cetosc.binginternal.com, register
host-suffix, cetoeast.binginternal.com, register
host-suffix, cetowest.binginternal.com, register
host-suffix, akam.staging-bing-int.com, register
host-suffix, ewlmaakam.staging-bing-int.com, register
host-suffix, akamproxyeast.staging-bing-int.com, register
host-suffix, akamproxync.staging-bing-int.com, register
host-suffix, akamproxysc.staging-bing-int.com, register
host-suffix, akamproxywest.staging-bing-int.com, register
host-keyword, colab, register
host-keyword, developerprofiles, register
host-keyword, generativelanguage, register
host-suffix, ai.google.dev, register
host-suffix, ai.google, register
host-suffix, gstatic.com, register
host-suffix, aistudio.google.com, register
host-suffix, generativelanguage.googleapis.comm, register
host-suffix, deepmind.com, register
host-suffix, deepmind.google, register
host-suffix, generativeai.google, register
host-suffix, proactivebackend-pa.googleapis.com, register
host-suffix, office.net, register
host-suffix, microsoft.com, register
host-suffix, office.com, register
host-suffix, microsoftonline.com, register
