#海信直播
host,api.channingkiki.top,direct
host,api.xilexiaoyuan.top, direct

host-suffix, amdc.m.taobao.com, direct
host, fonts.gstatic.com, direct
host, fonts.googleapis.com, direct
host, lcdn-locator.apple.com, direct
host, serverstatus.apple.com, direct
host, tracker.m-team.cc, direct
host-suffix, walmartmobile.cn, direct
host-suffix, npln.srv.nintendo.net, direct
host-suffix, n.n.srv.nintendo.net, direct
host-keyword, haixing, direct
host-suffix, lanjing.vip, direct
host-suffix, jsccbcc.com, direct
host-suffix, plex.direct, direct
host, resource.cupid.iqiyi.com, direct
host, loc.map.baidu.com, direct
host, sandbox.itunes.apple.com, direct
host, pubads.g.doubleclick.net, direct
host, ocsp.sectigo.com, direct
host, wrapper.cyapi.cn, direct
host, fairplay.l.qq.com, direct
host, vd.l.qq.com, direct
host, ocsp.godaddy.com, direct
